{
  "extends": ["react-app","plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "overrides": [
    {
      "files": ["*.js", "*.jsx"]
    }
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  }
}
